header {
    width: 100%;
    height: 100px;
    text-align: center; 
    box-sizing: border-box;
}

.container {
    width: 1140px;
    height: 100%; 
    margin: 0 auto;
}

ul{
    list-style-type: none;
}

.navigation-list li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    height: 40px;
    width: 78px;
    display: inline-block;
    vertical-align: middle;
}

.navigation-list li{
    display: inline-block;
    margin-left: 10px;
    background-color: rgb(255, 0, 179);
    line-height: 40px;
}


.navigation-list{
    float: right;
    margin: 25px;
}

.logo{
    display:inline-block;
    float: left;
    margin: 20px;
}

.logo a img{
    border-radius: 100%;
}